---
layout: default
type: home
title: nightpolly.com
description: Hi. My name is Polly, I&rsquo;m a web designer and front-end developer. I come here to practice thinking&mdash;the most recent results of that below. You can also find me on <a href="https://twitter.com/NightPolly" title="@nightpolly">Twitter</a>.
---

<ul class="ptsList">
  {% for post in paginator.posts %}
  <li class="post">
    <h2 class="post_title perfect4">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <small class="post_meta post_meta-noflow">
      <time class="meta_date" datetime="{{ post.date | date_to_xmlschema }}"><i class="icon icon-date" aria-hidden="true"></i> {% assign m = post.date | date: "%B" %}{% case m %}{% when 'May' or 'June' or 'July' %}{{ m }} {% when 'September' %}Sept. {% else %}{{ post.date | date: "%b" }}. {% endcase %}{{ post.date | date: "%d" | plus:'0' }}, {{ post.date | date: "%Y" }}</time>
      <span class="meta_readingTime"><i class="icon icon-time" aria-hidden="true"></i> {{ post.content | reading_time }}</span>
      <a class="meta_category" href="/{{ post.category }}"><i class="icon icon-{{ post.category }}" aria-hidden="true"></i> {{ post.category }}</a>
    </small>
    {% if post.description %}
    <p class="post_description">{{ post.description }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<div class="contentRelated clearfix">
  <span class="posts_pgNumber">page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  <div class="posts_pgLinks">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="posts_pgLink prev" href="/">previous</a>
    {% else %}
    <a class="posts_pgLink prev" href="{{ paginator.previous_page_path }}">previous</a>
    {% endif %}
    {% else %}
    <span class="posts_pgLink prev">previous</span>
    {% endif %}

    {% if paginator.next_page %}
    <a class="posts_pgLink next" href="{{ paginator.next_page_path }}">next</a>
    {% else %}
    <span class="posts_pgLink next">next</span>
    {% endif %}
  </div>
</div>
