<footer class="contentinfo container" role="contentinfo">
  <nav class="nav-secondary" role="navigation">
    <ul>
      <li><a href="/"><i class="icon-main-home" aria-hidden="true"></i>home</a></li>
      <li><a href="/frontendings"><i class="icon-main-frontendings" aria-hidden="true"></i>frontendings</a></li>
      <li><a href="/notes"><i class="icon-main-notes" aria-hidden="true"></i>notes</a></li>
    </ul>
  </nav>
  <p class="contentinfo_etc">
    <small class="contentinfo_copyright">&copy; {{ site.time | date: '%Y' }}. Standing on the shoulders of GitHub.</small> &middot; <a href="https://twitter.com/NightPolly" title="@nightpolly">say hi! <i class="icon-hi-twitter" aria-hidden="true"></i></a> &middot; <a href="mailto:hi@nightpolly.com" title="hi@nightpolly.com">email <i class="icon-hi-email" aria-hidden="true"></i></a> &middot; <a href="/feed.xml" title="atom feed">new posts <i class="icon-hi-feed" aria-hidden="true"></i></a>
  </p>
</footer>
