<footer class="container">
  <nav class="nav-secondary" role="navigation">
    <ul class="nav_list nav-secondary_list">
      <li class="nav_item nav-secondary_item">
        <a class="nav_link nav-secondary_link" href="/"><i class="icon icon-home" aria-hidden="true"></i> home</a>
      </li>
      <li class="nav_item nav-secondary_item">
        <a class="nav_link nav-secondary_link" href="/frontendings"><i class="icon icon-frontendings" aria-hidden="true"></i> frontendings</a>
      </li>
      <li class="nav_item nav-secondary_item">
        <a class="nav_link nav-secondary_link" href="/notes"><i class="icon icon-notes" aria-hidden="true"></i> notes</a>
      </li>
    </ul>
  </nav>
  <div class="siteNotes">
    <p class="minor2i">If you’re done here, come say hi on <a href="https://twitter.com/NightPolly" title="@nightpolly">Twitter</a>! Or <em>hi @ [mydomain]</em> if email is your thing.</p>
    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. Standing on the shoulders of GitHub.</p>
  </div>
</footer>
