<header class="container pgHeader pgHeader-notes">

  <h1 class="pgTitle major3rd"><a class="pgTitle_link" href="/notes">notes</a></h1>

  <nav class="nav-primary" role="navigation">
    <ul class="nav_list">
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/">home</a></li>
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/frontendings">frontendings</a></li>
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/notes">notes</a></li>
    </ul>
  </nav>

  <p class="pgDescription minor2nd-i">You’re walking down a sunny street in your neighborhood. A girl is gracefully floating toward you, in a way a drunken penguin would. Passing by, she bumps into you, making you spill your four-dollar coffee. You’re about to yell at her, but suddenly you realize you’re hearing her thoughts. It’s a made-up story, that’s how. This is what she thinks about:</p>

</header>