<header class="container pgHeader pgHeader-frontendings">

  <h1 class="pgTitle major3rd"><a class="pgTitle_link" href="/frontendings">frontendings</a></h1>

  <nav class="nav-primary" role="navigation">
    <ul class="nav_list">
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/">home</a></li>
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/frontendings">frontendings</a></li>
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/notes">notes</a></li>
    </ul>
  </nav>

  <p class="pgDescription minor2nd-i">There will always be someone better, and there will always be someone worse, and every single piece of code should be celebrated.</p>

</header>