<header class="pgHeader-demo">
  <h1 class="demo_title" id="demoHeader">Demo of <a href="/frontendings/{{ page.demoString }}{% if page.demoPartial %}-{{ page.demoPartial }}{% endif %}/" title="back to the article">{{ page.title }}</a>, <time class="meta_date" datetime="{{ page.date | date_to_xmlschema }}" title="date written">{% assign m = page.date | date: "%B" %}{% case m %}{% when 'May' or 'June' or 'July' %}{{ m }} {% when 'September' %}Sept. {% else %}{{ page.date | date: "%b" }}. {% endcase %}{{ page.date | date: "%d" | plus:'0' }}, {{ page.date | date: "%Y" }}</time></h1>
  <div class="pgInfo">
    {% if page.browsers-full %}
    <p class="demo_note">
      Full support:
      {% for browser in page.browsers-full %}
      <span><i class="icon icon-browser-{{ browser.name }}" aria-hidden="true"></i> {{ browser.name }} {% if browser.version %}{{ browser.version }}{% endif %}</span>
      {% endfor %}
    </p>
    {% endif %}
    {% if page.browsers-partial %}
    <p class="demo_note">
      Partial support:
      {% for browser in page.browsers-partial %}
      <span><i class="icon icon-browser-{{ browser.name }}" aria-hidden="true"></i> {{ browser.name }} {% if browser.version %}{{ browser.version }}{% endif %}</span>
      {% endfor %}
    </p>
    {% endif %}
  </div>
</header>
