<header class="container pgHeader pgHeader-home">

  <h1 class="pgTitle major3"><a class="pgTitle_link" href="/">nightpolly.com</a></h1>

  <nav class="nav-primary" role="navigation">
    <ul class="nav_list">
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/">home</a></li>
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/frontendings">frontendings</a></li>
      <li class="nav_item nav-primary_item"><a class="nav_link" href="/notes">notes</a></li>
    </ul>
  </nav>

  <p class="pgDescription">Hi. My name is Polly, I’m a web designer and front-end developer. I come here to practice thinking—the most recent results of that below. You can also find me on <a href="http://twitter.com/NightPolly" title="@nightpolly">Twitter</a>.</p>

</header>