@charset "UTF-8";
/* === Normalize === */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

q {
  quotes: "“" "”" "‘" "’" "“" "”" "‘" "’";
}

/* === Typography === */
.M2-down {
  font-size: 0.75em;
}

.m2-down {
  font-size: 0.875em;
}

.m2-up {
  font-size: 1.125em;
}

.M2-up {
  font-size: 1.25em;
}

.m3-up {
  font-size: 1.375em;
}

.M3-up {
  font-size: 1.5em;
}

.P4-up {
  font-size: 1.6875em;
}

.TT-up {
  font-size: 1.875em;
}

@media screen and (min-width: 36.875em) {
  .M2-down {
    font-size: 0.73684em;
  }

  .m2-down {
    font-size: 0.84211em;
  }

  .m2-up {
    font-size: 1.15789em;
  }

  .M2-up {
    font-size: 1.31579em;
  }

  .m3-up {
    font-size: 1.52632em;
  }

  .M3-up {
    font-size: 1.73684em;
  }

  .P4-up {
    font-size: 2em;
  }

  .TT-up {
    font-size: 2.31579em;
  }
}
@media screen and (min-width: 62em) {
  .M2-down {
    font-size: 0.69565em;
  }

  .m2-down {
    font-size: 0.82609em;
  }

  .m2-up {
    font-size: 1.17391em;
  }

  .M2-up {
    font-size: 1.3913em;
  }

  .m3-up {
    font-size: 1.65217em;
  }

  .M3-up {
    font-size: 1.91304em;
  }

  .P4-up {
    font-size: 2.21739em;
  }

  .TT-up {
    font-size: 2.56522em;
  }
}
/* === Demo styles === */
body {
  background: #fff;
}

.container {
  width: 90%;
  max-width: 33em;
  margin: 0 auto;
  font-family: "Hoefler Text", Georgia, serif;
  font-size: 1rem;
  line-height: 1.33;
  color: #3c3c3c;
}
@media screen and (min-width: 36.875em) {
  .container {
    font-size: 1.1875rem;
    line-height: 1.45;
  }
}
@media screen and (min-width: 62em) {
  .container {
    font-size: 1.4375rem;
    line-height: 1.6;
  }
}

a {
  color: #3da6bd;
}
a:hover, a:focus {
  color: #268aa0;
}
a:active {
  color: #ce2f3e;
}

hr {
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 4px solid #3c3c3c;
}

.sample-sizes > * {
  margin: 0;
}

.sample-sizes,
.sample-content h1,
.sample-content h2,
.sample-content h3,
.sample-content h4,
.sample-content h5,
.sample-content h6,
.sample-content p {
  margin: 1.33rem 0;
}
@media screen and (min-width: 36.875em) {
  .sample-sizes,
  .sample-content h1,
  .sample-content h2,
  .sample-content h3,
  .sample-content h4,
  .sample-content h5,
  .sample-content h6,
  .sample-content p {
    margin: 1.45rem 0;
  }
}
@media screen and (min-width: 62em) {
  .sample-sizes,
  .sample-content h1,
  .sample-content h2,
  .sample-content h3,
  .sample-content h4,
  .sample-content h5,
  .sample-content h6,
  .sample-content p {
    margin: 1.6rem 0;
  }
}

.container .title,
.container .subtitle {
  margin: 0;
  line-height: 1.4;
}

.title > a {
  color: inherit;
  text-decoration: none;
}

.lead {
  line-height: 1.4;
}

.sample-content > footer {
  border-top: 2px solid #3c3c3c;
}

.ch45-75 {
  background: rgba(206, 47, 62, 0.1);
  color: #ce2f3e;
}
