---
layout: post
title: The Total Perspective Vortex
type: notes
date: 2013-12-31 22:20
category: notes
description: My personal year-end torture of choice.
---

{% include post_header.html %}

<div class="post_entry addair">
  <p>It’s the end of December again—the part of the (Gregorian) year when you’re encouraged (pressed?) to look back, to think about choices made and lessons learned in the last 365 days or so. You’re encouraged also to look <em>forward</em> and make some more choices about things you want to change in the <em>next</em> 365 days or so.</p>
  <p>(Of course, years end every day if you think about it, but that’s too much looking back and forth.)</p>
  <p>Here’s all I could come up with:</p>
  <p>In 2013, I did a few things right, and fucked up another few. Most were just okay. I’m a little older than I was in January. As for 2014… Since I can’t even begin to describe how many problems I have with New Year’s resolutions, I’ll just skip that part.</p>
  <p>Profound, I know. Whatever deep meaning there is in the past and future, it escapes me, so I’m sticking with the present—somewhere between what I did and what I will do. This too can be something to think about as the old year ends and the new one begins.</p>
  <p>December, in other words, is my favorite time for a reality- and ego check.</p>
  <p>In <cite>The Hitchhiker’s Guide to the Galaxy</cite>, Zaphod Beeblebrox is sentenced to the ultimate torture—The Total Perspective Vortex, where he will see himself in relation to the whole infinity of creation, and thus lose his sanity in an especially awful way. But when he emerges from the steel box and his executioner asks him about the experience, he says, <q>It just told me what I knew all the time. I’m a really terrific and great guy.</q></p>
  <p>The reason, of course, is that this particular universe was created specifically for him, and so he really is the single most important part of it.</p>
  <p>The Total Perspective Vortex has stuck with me since I first read the book (though at the time I was more interested in the fact that it was made out of a piece of fairy cake). A place, a thing that’s more than your mind can handle, can certainly help you get some perspective. It doesn’t have to fry your brain in the process, just put you in a position where you can only think about the truly important things.</p>
  <p>These days I have my own version of The Vortex, several of them even. My favorite is the high parts of the mountains—the cold, the altitude, the enormity of it all have a way of making you see clearer. It’s a good way to start a new year.</p>
</div>

<aside class="post_related">
  {% include post_share.html %}
  <small class="post_meta">Written on <time class="meta_date" datetime="{{ page.date | date_to_xmlschema }}">New Year’s Eve, 2013</time> in <a class="meta_category" href="/{{ page.category }}">{{ page.category }}</a>. Happy New Year everybody!</small>
</aside>
