<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %} {{ page.title }} | {% endif %} nightpolly.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  {% include header.html %}

  <main class="posts">
    <header class="posts__header">
      <h1>Recent Notes</a></h1>
    </header>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
